@import '../../../styles/variables';

.material-form-component {
  & {
    padding: $p-primary 0;

  }

  &-element, .button {
    margin-bottom: $m-secondary;
  }

  &-element-label {
    padding-right: $p-secondary;
  }

  .total {
    color: $link-color;
  }
}