@import '../../../styles/variables';
@import '../../components/MaterialFormComponent/index';
@import '../../components/MaterialsListComponent/index';
@import '../../components/AddNewMaterialFormComponent/index';

.home-page {
  & {
    min-height: 80vh;
    position: relative;
  }

  &-title {
    text-align: center;
  }
}