//Colors

$primary: #000;
$light: #fff;
$header-background-color: #4869d6;
$border-primary-color: #1437ad;
$primary-button-background-color: #ff9d40;
$primary-button-hover-color: #ffd773;
$primary-button-color: #a65100;
$link-color: #a68d00;
$link-hover-color: #bfaa30;
$secondary-button-background-color: #ffd900;
$secondary-button-hover-background-color: #ffe240;
$error-color: #991f39;

$p-primary: 20px;
$p-secondary: 10px;
$m-primary: 20px;
$m-secondary: 10px;