.header-component {
  padding: 20px;
  border-bottom: 2px solid black;
  background-image: url('img/construction-and-tools.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 30px center;
}