@import '../../../styles/variables';

.menu-panel-component {
  & {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #a65100;
    background-color: #ff9d40;
  }

  &-list {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &-item {
    position: relative;
    width: 50%;
    padding: 20px 0;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 16px 3px rgba(166,81,0,1);
    -moz-box-shadow: inset 0px 0px 16px 3px rgba(166,81,0,1);
    box-shadow: inset 0px 0px 16px 3px rgba(166,81,0,1);

    &:first-child:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: #a65100;
    }
  }

  &-link {
    padding: 20px 0;
    text-decoration: none;
    color: #a65100;
    font-weight: bolder;
  }
}