@import '../../../styles/variables';
@import '../../../styles/button';

.add-new-material-form-component {
  & {
    padding: $p-primary;
  }

  &-row {
    padding-bottom: $p-secondary;
  }

  &-label {
    padding-right: $p-secondary;
  }
}